@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply transition-colors duration-300 antialiased;
}

/* Custom Scrollbar for the primary theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-800 rounded-full hover:bg-indigo-500 transition-colors;
}

/* Global Print styles for suppression of headers/footers */
@media print {
  @page {
    margin: 0 !important;
  }
}
